@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Moderustic", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    height: 100dvh;
    background: linear-gradient(135deg, #4fc3f7, #1e88e5);
    /* background-image: url(./assets/temp_con.jpg); */
    /* background-position: center; */
    /* background-size: cover; */
    color: #fff;
}

.container {
    background: #374955;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
}

.container>h1{
    margin-bottom: 40px;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

select, .convert-btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    font-family: "Moderustic", sans-serif;
}

.convert-btn {
    background-color: #1e88e5;
    color: #fff;
    font-size: 17px;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

input[type="number"] {
    width: 100%;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    font-size: 16px;
}

input::placeholder{
    letter-spacing: 0.5px;
}

input:focus{
    outline: none;
}

select:focus{
    outline: none;
}

.convert-btn:hover {
    background-color: #1565c0;
}

.result {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

.result>input{
    padding: 10px 0px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.error {
    color: #ff5252;
    font-size: 14px;
}

.Selectors{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.Selectors>.from,.to{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    font-size: 17px;
    letter-spacing: 0.5px;
}

@media (max-width: 768px) {
    .container {
        width: auto;
    }
}
