* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.container{
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
}

.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    background: white;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0.9px rgba(0, 0, 0, 0.1);
}

.btn{
    padding: 20px;
    font-size: 17px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0.5px rgba(0, 0, 0, .2), -1px 0 .5em rgb(234, 234, 234);
}

.btn:hover{
    background-color: #e2e2e2;
}

.btn_b{
    background-color: #a4ccfb;
    /* color: white; */
}

.btn_b:hover{
    background-color: #7ab8f5;
}

.btn_y{
    background-color: #fcdc73;
    color: black;
}

.btn_y:hover{
    background-color: #f7c64f;
}

.btn_r{
    background-color: #f98d8d;
    /* color: white; */
}

.btn_r:hover{
    background-color: #f07777;
}

.btn_e{
    grid-column: span 2;
    /* border-radius: 30px; */
    /* background-color: black;
    color: white; */
}

.row .input{
    grid-column: span 4;
    margin-bottom: 20px;
    text-align: right;
    padding: 15px 10px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    color: #393939;
    box-shadow: 1px 1px 4px 0.5px rgba(61, 61, 61, 0.2), -1px 0 .5em rgb(234, 234, 234);
}

.input::placeholder{
    color: #393939;
}

.row .input:focus{
    outline: none;
}